<!-- HOMEPAGE -->
<div data-role="page" id="home">
<!-- LOGIN -->
	<!--<div id="login">-->
    	<div data-role="header" class="toolbar">
        	<h1>Meetings Login</h1>
        </div>        
        <div data-role="content" class="login_content">
            <form>
	            <ul class="edit rounded">
	                <li><input type="text" placeholder="User ID" name="username" id="username"></li>
	                <li><input type="password" placeholder="Password" name="password" id="password" ></li>
	            </ul>
	            <div class="login_rememberme"><span>Remember me</span><input type="checkbox" name="rememberme" id="rememberme" checked>
	            	</input>
				</div>            
	            <label>
					<div class="login_error_msg" id="login_error_msg">Invalid username or password. Please try again.<br />
						<br />
						If you don't have an account please visit our website (<a href="javascript:void(0);" onclick="location.href='http://www.servcorponline.com.au/';">www.servcorponline.com.au</a>) to register.
					</div>
				</label>
           </form>
          <a href="javascript:void(0);" onclick="servcorp.ajax.login();" class="btOrange" id="id_login">Login</a>
		  <div class="login_rememberme">
			<a href="javascript:void(0);" onclick="location.href='http://www.servcorponline.com.au/Login.aspx?Mode=R';">Forgot your login details?</a>
		  </div>
		  <p style="font-size:12px; color:#fff; text-align:center; padding:10px 0;">If you don't have a Meetings Online account please tap the button below to register now</p>
		  <a href="javascript:void(0);" onclick="window.open('https://secure.servcorp.net/join.aspx')" class="btOrange">Register</a>
        </div>
    <!--</div>-->
    <div data-role="footer"></div>
</div> 

<!-- DASHBOARD -->
<div data-role="page" id="dashboard">
	<div data-role="header" class="toolbar">
		<h1>Meetings</h1>
		<a class="button logout" href="javascript:void(0);" onclick="servcorp.ajax.logout();">Logout</a>
	</div>
    <div data-role="content" class="">
	  <h2>My Bookings</h2>
	  <ul class="detailList"></ul>
	  <a  data-role="button" class="slideup btOrange" id="dashboardBookingBtn">New Booking</a>
	  <script>
	  <?php if ($this->loggedin) echo 'servcorp.ajax.dashboard();'; ?>
	  </script>
	</div>
    <div data-role="footer"></div>	
</div>
 <?php if ($this->loggedin) { ?>
   <script type="text/javascript">
     $().ready(function() {  
       $.mobile.changePage('#dashboard');
     })
   </script>
 <? } ?>

<!-- SELECT COUNTRY -->
<div data-role="page" id="select_country">
	<div data-role="header" class="toolbar">
        <h1>Select Country</h1>
        <a  data-role="button" class="back" id="country_back">Back</a>
        <a class="button delred" href="javascript:void(0);" onclick="servcorp.ajax.cancelBooking(); $.mobile.changePage('#dashboard', { transition: 'slideup' });">Cancel</a>
    </div>
    <div data-role="content" class="">
	  <ul id="countrylist"></ul>
    </div>
    <div data-role="footer"></div>
</div>

<!-- SELECT LOCATION -->
<div data-role="page" id="select_location">
	<div data-role="header" class="toolbar">
        <h1>Select Location</h1>
        <a class="back" href="#select_country">Back</a>
        <!--a onclick="splBack();" class="backSpl" href="javascript:void(0);">Back</a-->
        <a class="button delred" href="javascript:void(0);" onclick="servcorp.ajax.cancelBooking(); $.mobile.changePage('#dashboard', { transition: 'slideup' });">Cancel</a>
    </div>
    <div data-role="content">
      <div class="cont_padding_all">
    	<ul class="itemDetails" id="citylist"></ul>
      </div>
    </div>
    <div data-role="footer"></div>
</div>

<!-- SELECT RESOURCE TYPE -->
<div data-role="page" id="select_resource_type">
	<div data-role="header" class="toolbar">
        <h1>Select Resource Type</h1>
        <a class="back" href="#select_location">Back</a>
        <a class="button delred" href="javascript:void(0);" onclick="servcorp.ajax.cancelBooking(); $.mobile.changePage('#dashboard', { transition: 'slideup' });">Cancel</a>
    </div>    
    <div data-role="content">
      <div class="cont_padding_all">
    	<ul class="itemDetails" id="RTlist"></ul>
      </div>    
    </div>
    <div data-role="footer"></div>
</div>

<!-- SELECT RESOURCE -->
<div data-role="page" id="select_resource">
	<div data-role="header" class="toolbar">
        <h1>Select Resource</h1>
        <a class="back" href="#select_resource_type">Back</a>
        <a class="button delred" href="javascript:void(0);" onclick="servcorp.ajax.cancelBooking(); $.mobile.changePage('#dashboard', { transition: 'slideup' });">Cancel</a>
    </div>    
    <div class="cont_padding_all">
    	<ul class="itemDetails" id="Rlist"></ul>
    </div>    
    <div data-role="footer"></div>
</div>

<!-- SELECT DATE -->
<div data-role="page" id="select_date">
	<div data-role="header" class="toolbar">
        <h1>Select Date</h1>
        <a class="back" href="#select_resource">Back</a>
        <a class="button delred" href="javascript:void(0);" onclick="servcorp.ajax.cancelBooking(); $.mobile.changePage('#dashboard', { transition: 'slideup' });">Cancel</a>
    </div>    
    <div class="cont_padding_all">
    	<div class="datepicker"></div>
    	<div style="display:block;" class="alert">For bookings on weekends please <a href="mailto:support@servcorponline.com" id="email1">email us</a> or call us: <a href="tel:+65 6322 0888" id="call1">+65 6322 0888</a>
		</div>
    </div> 
    <script type="text/javascript">
    servcorp.utility.setEmailPhone();
    </script>   
    <div data-role="footer"></div>
</div>

<!-- SELECT TIME -->
<div data-role="page" id="select_time">
	<div data-role="header" class="toolbar">
        <h1>Select Time</h1>
        <a class="back" href="#select_date">Back</a>
        <a class="button delred" href="javascript:void(0);" onclick="servcorp.ajax.cancelBooking(); $.mobile.changePage('#dashboard', { transition: 'slideup' });">Cancel</a>
    </div>    
    <div class="cont_padding_all time-selction">	       
        <div class="time_pick">
        	<label>Start time:</label>
	    	<select id="s_hour"></select>
        </div>
        <br class="clr_flt">
      	
           <div class="time_pick">
           	<label>Duration:</label>
            <select id="duration"></select>
           </div>
           <br class="clr_flt">

           <div class="cont_padding_all show-avilable" id="time_suggest">
		</div>

		<div style="display:block;" class="alert">For after hours bookings please <a href="javascript:void(0);" id="email">email us</a> or call us: <a href="javascript:void(0);" id="call">+65 6322 0888</a>
		</div>
    </div>
    <script type="text/javascript">
    	servcorp.utility.setTimeOptions();
    </script>
    <div data-role="footer"></div>
</div>

<!-- ADDITIONAL REQUIREMENTS -->
<div data-role="page" id="additional_reqirements">
	<div data-role="header" class="toolbar">
        <h1>Extras</h1>
        <a class="back" href="#select_time">Back</a>
        <a class="button delred" href="javascript:void(0);" onclick="servcorp.ajax.cancelBooking(); $.mobile.changePage('#dashboard', { transition: 'slideup' });">Cancel</a>
    </div>    
    <div class="cont_padding_all">
    	<h2>Enter any extra requirements (or tap Continue)</h2>
    	<ul class="edit rounded">
    		<li><textarea class="new_textarea" id="requirements"></textarea></li>
    	</ul>
    	<a class="btOrange" href="javascript:void(0);" onclick="servcorp.booking.setRequirements()">Continue</a>
    </div>    
    <div data-role="footer"></div>
</div>

<!-- INVITE COLLEAGUES -->
<div data-role="page" id="invite_colleagues">
	<div data-role="header" class="toolbar">
        <h1>Send Invites</h1>
        <a class="back" href="#additional_reqirements">Back</a>
        <a class="button delred" href="javascript:void(0);" onclick="servcorp.ajax.cancelBooking(); $.mobile.changePage('#dashboard', { transition: 'slideup' });">Cancel</a>
    </div>    
    <div class="cont_padding_all">
    	<h2>Separate emails with semicolons (or tap Continue)</h2>
    	<ul class="edit rounded">
    		<li><textarea class="new_textarea" id="invitees"></textarea></li>
    	</ul>
    	<a class="btOrange" href="javascript:void(0);" onclick="servcorp.booking.setInvitees()">Continue</a>
    </div>    
    <div data-role="footer"></div>
</div>

<!-- NEW BOOKING -->
<div data-role="page" id="new_booking">
	<div data-role="header" class="toolbar">
        <h1 id="booking_head">New Booking</h1>
	    <a class="back" id="cancel_bt" href="javascript:void(0);" >Back</a>
	    <a class="button delred" href="javascript:void(0);" onclick="servcorp.ajax.cancelBooking(); $.mobile.changePage('#dashboard', { transition: 'slideup' });">Cancel</a>
    </div>    
    <div class="cont_padding_all">
	    <ul class="itemDetails mar_tb">
		    <li id="arr_cnt" class="arrow">
		    	<a href="javascript:void(0);" class="slide" id="a_country"><h5 id="mb_country">Select Country</h5></a>
		    </li>
	    </ul>
	    <ul class="itemDetails mar_tb">
	    	<li id="arr_loc" class="arrow">
		    	<a href="javascript:void(0);" class="slide" id="a_location"><h5 id="mb_location">Select City</h5></a>
		    </li>
	    </ul>
	    <ul class="itemDetails mar_tb">
	    	<li id="arr_rt" class="arrow">
		    	<a href="javascript:void(0);" class="slide" id="a_resource_type"><h5 id="mb_resource_type">Select Resource Type</h5></a>
		    </li>
	    </ul>
	    <ul class="itemDetails mar_tb">
	    	<li id="arr_r" class="arrow">
		    	<a href="javascript:void(0);" class="slide" id="a_resource"><h5 id="mb_resource">Select Resource</h5></a>
		    </li>
	    </ul>
	    <ul class="itemDetails mar_tb">
	   	 <li class="arrow">
		    	<a href="javascript:void(0);" class="slide" id="a_date"><h5 id="mb_date">Select Date</h5></a>
		    </li>
	    </ul>
	    <ul class="itemDetails mar_tb">
	    	<li class="arrow">
		    	<a href="javascript:void(0);" class="slide" id="a_time"><h5 id="mb_time">Select Time</h5></a>
		    </li>
	    </ul>
		<a href="javascript:void(0);" id="done_booking" onclick="servcorp.ajax.createBooking();" class="btGreen">Done</a>
    </div>
    <div data-role="footer"></div>
</div>

<!-- BOOKING DETAILS #1 -->
<div data-role="page" id="details1">
    <div data-role="header" class="toolbar">
        <h1>Details</h1>
        <a class="back" href="#">Back</a>
        <a class="button delred" href="javascript:void(0);" id="delete_booking" name="">Delete</a>
    </div>
    <h2 id="details_title"></h2>
    <ul class="detailsList">
        <li>
        	<div class="itemDetails edit_booking_wrp">
            	<h4 id="details_location" class="edit_booking_title"></h4>
           		<span id="id_date" class="edit_booking_date"></span>
				<span id="id_time" class="edit_booking_date"></span>
            	<a id="id_phone" class="edit_booking_phone" href="javascript:void(0);">Phone: <span> </span> </a>
            	<a id="id_fax" class="edit_booking_fax" href="javascript:void(0);">Fax: <span> </span> </a>
            </div>
        </li>
        <li>
        	<div class="itemDetails">
	        	<img alt="" id="id_map" src="">
	        	<a href="javascript:void(0);" onclick="" id="id_maplink" style="display:none;">
					<u>Tap here to open in Google Maps</u>	
				</a>
            </div>
        </li>
     </ul>
     <p style="font-size:12px; color:#fff; text-align:center; padding:10px 0; display:none;" id="id_tdybooking">Sorry, bookings for today cannot be edited.</p>
     <a href="javascript:void(0);" id="id_editbooking" class="btOrange" name="">Edit Booking</a>
    <div data-role="footer"></div>
</div>

<!-- BOOKING -->
<div data-role="page" id="forms">
    <div data-role="header" class="toolbar">
        <h1>New Booking</h1>
        <a href="#" class="back">Back</a>
    </div>
    <form>
	    <ul class="edit rounded">
		    <li>New booking form goes here</li>
	    </ul>
    </form>
    <div data-role="footer"></div>
</div>
    
<!-- EDIT -->
<div data-role="page" id="edit">
    <div data-role="header" class="toolbar">
        <h1>Edit Booking</h1>
        <a href="#" class="back">Back</a>
    </div>
    <form>
	    <ul class="edit rounded">
		    <li>Edit booking form goes here</li>
	    </ul>
    </form>
</div>

<!--<div id="loading" align="center">
	<img alt="" src="img/ajax-loader.gif" />
</div>-->

<script>
//alert($('#select_country').css('left') + " : " + $('#select_location').css('left') + " : " + $('#select_resource_type').css('left') + " : " + $('#select_resource').css('left'));
$(document).ready(function(){ 
//$('#email1, #call1').attr('target', '_self'); 
$('a[href^=mailto]').click(function (event) {
    event.preventDefault();
    window.location.replace = $(this).attr('href');
    return false;
});

});
</script>
