<!-- LOGIN -->
<div data-role="page" id="home">
	<div data-role="header" class="toolbar">
    	<h1>Meetings Login</h1>
    </div>        
    <div data-role="content" class="login_content">
        <form>
            <ul class="edit rounded">
                <li><input type="text" placeholder="User ID" name="username" id="username"></li>
                <li><input type="password" placeholder="Password" name="password" id="password" ></li>
            </ul>
            <div class="login_rememberme"><span>Remember me</span><input type="checkbox" name="rememberme" id="rememberme" checked>
            	</input>
			</div>            
            <label>
				<div class="login_error_msg" id="login_error_msg">Invalid username or password. Please try again.<br />
					<br />
					If you don't have an account please visit our website (<a href="javascript:void(0);" onclick="location.href='http://www.servcorponline.com.au/';">www.servcorponline.com.au</a>) to register.
				</div>
			</label>
       </form>
      <a href="javascript:void(0);" onclick="servcorp.ajax.login();" class="btOrange" id="id_login">Login</a>
	  <div class="login_rememberme">
		<a href="javascript:void(0);" onclick="location.href='http://www.servcorponline.com.au/Login.aspx?Mode=R';">Forgot your login details?</a>
	  </div>
	  <p style="font-size:12px; color:#fff; text-align:center; padding:10px 0;">If you don't have a Meetings Online account please tap the button below to register now</p>
	  <a href="javascript:void(0);" onclick="window.open('https://secure.servcorp.net/join.aspx')" class="btOrange">Register</a>
    </div>
    <div data-role="footer"></div>
</div> 

<!-- DASHBOARD -->
<div data-role="page" id="dashboard">
	<div data-role="header" class="toolbar">
		<h1>Meetings</h1>
		<a class="button logout" href="javascript:void(0);" onclick="servcorp.ajax.logout();">Logout</a>
	</div>
    <div data-role="content" class="">
	  <h2>My Bookings</h2>
	  <ul class="detailList"></ul>
	  <a class="slideup btOrange" id="dashboardBookingBtn">New Booking</a>
	  <script>
	  <?php if ($this->loggedin) echo 'servcorp.ajax.dashboard();'; ?>
	  </script>
	</div>
    <div data-role="footer"></div>	
</div>

<!-- <?php if ($this->loggedin) { ?>
   <script type="text/javascript">
     $().ready(function() {  
       $.mobile.changePage('#dashboard');
     })
   </script>
 <? } ?>-->
 
 <!-- SELECT COUNTRY -->
<div data-role="page" id="select_country">
	<div data-role="header" class="toolbar">
        <h1>Select Country</h1>
        <a href="#dashboard" class="back" id="country_back">Back</a>
    </div>
    <div data-role="content" class="">
    </div>
    <div data-role="footer"></div>
</div>