<!-- HOMEPAGE -->
<div data-role="page" id="splash">
</div>

<div data-role="page" id="home" data-theme="a">
<!-- LOGIN -->
    	<div data-role="header" class="toolbar">
        	<h1><?=$this->translater->translate("Meetings Login")?></h1>
        </div>        
        <div data-role="content" class="login_content">
            <form>
	            <input type="text" placeholder="<?=$this->translater->translate("User ID")?>" name="username" id="username" data-theme="b">
	            <input type="password" placeholder="<?=$this->translater->translate("Password")?>" name="password" id="password"  data-theme="b">
	            <div class="login_rememberme">
	              <span><br /><?=$this->translater->translate("Remember me")?></span>
	              <input type="checkbox" name="rememberme" id="rememberme" checked>
				</div>            
				<div class="login_error_msg" id="login_error_msg">
				</div>
           </form>
          <a href="javascript:void(0);" onclick="servcorp.ajax.login();" id="id_login" data-role="button" data-theme="a"><?=$this->translater->translate("Login")?></a>
		  <div class="login_rememberme">
			<a href="javascript:void(0);" onclick="location.href='http://www.servcorponline.com.au/Login.aspx?Mode=R';"><?=$this->translater->translate("Forgot your login details?")?></a>
		  </div>
		  <p style="font-size:12px; color:#fff; text-align:center; padding:10px 0;"><?=$this->translater->translate("If you don't have a Meetings Online account please tap the button below to register now")?></p>
		  <a href="javascript:void(0);" onclick="window.open('https://secure.servcorp.net/join.aspx')" data-role="button" data-theme="a"><?=$this->translater->translate("Register")?></a>
        </div>
</div>
 <?php if (!$this->loggedin) { ?>
   <script type="text/javascript">
     $().ready(function() {  
       $.mobile.changePage('#home');
     })
   </script>
 <? } ?>

<!-- DASHBOARD -->
<div data-role="page" id="dashboard" data-theme="a" >
	<div data-role="header" class="toolbar">
		<h1><?=$this->translater->translate("Meetings");?></h1>
		<a class="button logout" href="javascript:void(0);" id="logout"><?=$this->translater->translate("Logout")?></a>
	</div>
    <div data-role="content" class="">
	  <h2><?=$this->translater->translate("My Bookings")?></h2>
	  <ul class="detailList"></ul>
	  <a id="dashboardBookingBtn" href="javascript:void(0);" data-role="button" data-theme="a"><?=$this->translater->translate("New Booking")?></a>
	  <script>
	  <?php if ($this->loggedin) echo 'servcorp.ajax.dashboard();'; ?>
	  </script>
	</div>
</div>
 <?php if ($this->loggedin) { ?>
   <script type="text/javascript">
     $().ready(function() {  
       $.mobile.changePage('#dashboard');
     })
   </script>
 <? } ?>

<!-- SELECT COUNTRY -->
<div data-role="page" id="select_country" data-theme="a" >
	<div data-role="header" class="toolbar">
        <h1><?=$this->translater->translate("Select Country")?></h1>
        <a id="country_back" href="#dashboard" data-role="button" data-direction="reverse"><?=$this->translater->translate("Back")?></a>
        <a href="javascript:void(0);" onclick="servcorp.ajax.cancelBooking(); $.mobile.changePage('#dashboard', { transition: 'slideup' });" data-role="button"><?=$this->translater->translate("Cancel")?></a>
    </div>
    <div data-role="content" class="">
	  <ul class="itemDetails" id="countrylist"></ul>
    </div>
</div>

<!-- SELECT LOCATION -->
<div data-role="page" id="select_location" data-theme="a" >
	<div data-role="header" class="toolbar">
        <h1><?=$this->translater->translate("Select Location")?></h1>
        <a class="back" href="#select_country" data-direction="reverse"><?=$this->translater->translate("Back")?></a>
<!--        <a onclick="splBack();" class="back" href="javascript:void(0);"><?=$this->translater->translate("Back")?></a>-->
        <a class="button delred" href="javascript:void(0);" onclick="servcorp.ajax.cancelBooking(); $.mobile.changePage('#dashboard', { transition: 'slideup' });"><?=$this->translater->translate("Cancel")?></a>
    </div>
    <div data-role="content">
      <div class="cont_padding_all" style="padding:0">
    	<ul class="itemDetails" id="citylist"></ul>
      </div>
    </div>
</div>

<!-- SELECT RESOURCE TYPE -->
<div data-role="page" id="select_resource_type" data-theme="a" >
	<div data-role="header" class="toolbar">
        <h1><?=$this->translater->translate("Select Resource Type")?></h1>
        <a class="back" href="#select_location" data-direction="reverse"><?=$this->translater->translate("Back")?></a>
        <a class="button delred" href="javascript:void(0);" onclick="servcorp.ajax.cancelBooking(); $.mobile.changePage('#dashboard', { transition: 'slideup' });"><?=$this->translater->translate("Cancel")?></a>
    </div>    
    <div data-role="content">
      <div class="cont_padding_all" style="padding:0">
    	<ul class="itemDetails" id="RTlist"></ul>
      </div>    
    </div>
</div>

<!-- SELECT RESOURCE -->
<div data-role="page" id="select_resource" data-theme="a" >
	<div data-role="header" class="toolbar">
        <h1><?=$this->translater->translate("Select Resource")?></h1>
        <a class="back" href="#select_resource_type" data-direction="reverse"><?=$this->translater->translate("Back")?></a>
        <a class="button delred" href="javascript:void(0);" onclick="servcorp.ajax.cancelBooking(); $.mobile.changePage('#dashboard', { transition: 'slideup' });"><?=$this->translater->translate("Cancel")?></a>
    </div>    
    <div class="cont_padding_all">
    	<ul class="itemDetails" id="Rlist"></ul>
    </div>
</div>

<!-- SELECT DATE -->
<div data-role="page" id="select_date" data-theme="a" >
	<div data-role="header" class="toolbar">
        <h1><?=$this->translater->translate("Select Date")?></h1>
        <a class="back" id="select_date_back" href="#select_resource" data-direction="reverse"><?=$this->translater->translate("Back")?></a>
        <a class="button delred" href="javascript:void(0);" onclick="servcorp.ajax.cancelBooking(); $.mobile.changePage('#dashboard', { transition: 'slideup' });"><?=$this->translater->translate("Cancel")?></a>
    </div>    
    <div class="cont_padding_all">
    	<div class="datepicker"></div>
    	<div style="display:block;" class="alert"><?=$this->translater->translate('For bookings on weekends please <a href="mailto:support@servcorponline.com" id="email1">email us</a> or call us: <a href="tel:+65%206322%200888" id="call1">+65 6322 0888')?></a>
		</div>
    </div>
    <script type="text/javascript">
    servcorp.utility.setEmailPhone();
    </script>   
</div>

<!-- SELECT TIME -->
<div data-role="page" id="select_time" data-theme="a" >
	<div data-role="header" class="toolbar">
        <h1><?=$this->translater->translate("Select Time")?></h1>
        <a class="back" href="#select_date" data-direction="reverse"><?=$this->translater->translate("Back")?></a>
        <a class="button delred" href="javascript:void(0);" onclick="servcorp.ajax.cancelBooking(); $.mobile.changePage('#dashboard', { transition: 'slideup' });"><?=$this->translater->translate("Cancel")?></a>
    </div>    
    <div class="cont_padding_all time-selction">	       
        <div class="time_pick">
        	<label><?=$this->translater->translate("Start Time")?>:</label>
        	<div class="outer_select">
	    	  <select id="s_hour"></select>
	    	</div>
        </div>
        <br class="clr_flt">
      	
           <div class="time_pick">
           	<label><?=$this->translater->translate("Duration")?>:</label>
           	<div class="outer_select">
              <select id="duration"></select>
            </div>
           </div>
           <br class="clr_flt">

           <div class="cont_padding_all show-avilable" id="time_suggest">
		</div>

		<div style="display:block;" class="alert"><?=$this->translater->translate('For bookings after hours please <a href="mailto:support@servcorponline.com" id="email1">email us</a> or call us: <a href="tel:+65%206322%200888" id="call1">+65 6322 0888')?></a>
		</div>
    </div>
    <script type="text/javascript">
    	servcorp.utility.setTimeOptions();
    </script>
</div>

<!-- ADDITIONAL REQUIREMENTS -->
<div data-role="page" id="additional_requirements" data-theme="a" >
	<div data-role="header" class="toolbar">
        <h1><?=$this->translater->translate("Extras")?></h1>
        <a class="back" href="#select_time" data-direction="reverse"><?=$this->translater->translate("Back")?></a>
        <a class="button delred" href="javascript:void(0);" onclick="servcorp.ajax.cancelBooking(); $.mobile.changePage('#dashboard', { transition: 'slideup' });"><?=$this->translater->translate("Cancel")?></a>
    </div>    
    <div class="cont_padding_all">
    	<h2><?=$this->translater->translate("Enter any extra requirements (or tap Continue)")?></h2>
    	<ul class="edit rounded">
    		<li><textarea class="new_textarea" id="requirements" data-theme="b"></textarea></li>
    	</ul>
    	<a data-role="button" data-theme="a" href="javascript:void(0);" onclick="servcorp.booking.setRequirements()"><?=$this->translater->translate("Continue")?></a>
    </div>    
</div>

<!-- INVITE COLLEAGUES -->
<div data-role="page" id="invite_colleagues" data-theme="a" >
	<div data-role="header" class="toolbar">
        <h1><?=$this->translater->translate("Send Invites")?></h1>
        <a class="back" href="#additional_requirements" data-direction="reverse"><?=$this->translater->translate("Back")?></a>
        <a class="button delred" href="javascript:void(0);" onclick="servcorp.ajax.cancelBooking(); $.mobile.changePage('#dashboard', { transition: 'slideup' });"><?=$this->translater->translate("Cancel")?></a>
    </div>    
    <div class="cont_padding_all">
    	<h2><?=$this->translater->translate("Separate emails with semicolons (or tap Continue)")?></h2>
    	<ul class="edit rounded">
    		<li><textarea class="new_textarea" id="invitees" data-theme="b"></textarea></li>
    	</ul>
    	<a data-role="button" data-theme="a" href="javascript:void(0);" onclick="servcorp.booking.setInvitees()"><?=$this->translater->translate("Continue")?></a>
    </div>    
</div>

<!-- NEW BOOKING -->
<div data-role="page" id="new_booking" data-theme="a" >
	<div data-role="header" class="toolbar">
        <h1 id="booking_head"><?=$this->translater->translate("New Booking")?></h1>
	    <a class="back" id="cancel_bt" href="#invite_colleagues" data-direction="reverse"><?=$this->translater->translate("Back")?></a>
	    <a class="button delred" href="javascript:void(0);" onclick="servcorp.ajax.cancelBooking(); $.mobile.changePage('#dashboard', { transition: 'slideup' });"><?=$this->translater->translate("Cancel")?></a>
    </div>    
    <div class="cont_padding_all">
	    <ul class="itemDetails mar_tb">
		    <li id="arr_cnt" class="arrow">
		    	<a href="javascript:void(0);" class="slide" id="a_country"><h5 id="mb_country"><?=$this->translater->translate("Select Country")?></h5></a>
		    </li>
	    </ul>
	    <hr class="thin" />
	    <ul class="itemDetails mar_tb">
	    	<li id="arr_loc" class="arrow">
		    	<a href="javascript:void(0);" class="slide" id="a_location"><h5 id="mb_location"><?=$this->translater->translate("Select City")?></h5></a>
		    </li>
	    </ul>
	    <hr class="thin" />
	    <ul class="itemDetails mar_tb">
	    	<li id="arr_rt" class="arrow">
		    	<a href="javascript:void(0);" class="slide" id="a_resource_type"><h5 id="mb_resource_type"><?=$this->translater->translate("Select Resource Type")?></h5></a>
		    </li>
	    </ul>
	    <hr class="thin" />
	    <ul class="itemDetails mar_tb">
	    	<li id="arr_r" class="arrow">
		    	<a href="javascript:void(0);" class="slide" id="a_resource"><h5 id="mb_resource"><?=$this->translater->translate("Select Resource")?></h5></a>
		    </li>
	    </ul>
	    <hr class="thin" />
	    <ul class="itemDetails mar_tb">
	   	 <li class="arrow">
		    	<a href="javascript:void(0);" class="slide" id="a_date"><h5 id="mb_date"><?=$this->translater->translate("Select Date")?></h5></a>
		    </li>
	    </ul>
	    <hr class="thin" />
	    <ul class="itemDetails mar_tb">
	    	<li class="arrow">
		    	<a href="javascript:void(0);" class="slide" id="a_time"><h5 id="mb_time"><?=$this->translater->translate("Select Time")?></h5></a>
		    </li>
	    </ul>
		<a data-role="button" data-theme="a" href="javascript:void(0);" id="done_booking" onclick="servcorp.ajax.createBooking();"><?=$this->translater->translate("Done")?></a>
    </div>
</div>

<!-- BOOKING DETAILS #1 -->
<div data-role="page" id="details1" data-theme="a" >
    <div data-role="header" class="toolbar">
        <h1><?=$this->translater->translate("Details")?></h1>
        <a  data-role="button" data-theme="a" href="#dashboard" data-direction="reverse"><?=$this->translater->translate("Back")?></a>
        <a data-role="button" data-theme="a" href="javascript:void(0);" id="delete_booking"><?=$this->translater->translate("Delete")?></a>
    </div>
    <h2 id="details_title"></h2>
    <ul class="detailsList">
        <li>
        	<div class="itemDetails edit_booking_wrp">
            	<h4 id="details_location" class="edit_booking_title"></h4>
           		<span id="id_date" class="edit_booking_date"></span>
				<span id="id_time" class="edit_booking_date"></span>
            	<a id="id_phone" class="edit_booking_phone" href="javascript:void(0);"><?=$this->translater->translate("Phone")?>: <span> </span> </a>
            	<a id="id_fax" class="edit_booking_fax" href="javascript:void(0);"><?=$this->translater->translate("Fax")?>: <span> </span> </a>
            </div>
        </li>
        <li>
        	<div class="itemDetails">
	        	<img alt="" id="id_map" src="#">
	        	<a href="javascript:void(0);" onclick="" id="id_maplink" style="display:none;">
					<u><?=$this->translater->translate("Tap here to open in Google Maps")?></u>	
				</a>
            </div>
        </li>
     </ul>
     <p style="font-size:12px; color:#fff; text-align:center; padding:10px 0; display:none;" id="id_tdybooking"><?=$this->translater->translate("Sorry, bookings for today cannot be edited.")?></p>
     <a data-role="button" data-theme="a" href="javascript:void(0);" id="id_editbooking" ><?=$this->translater->translate("Edit Booking")?></a>
</div>

<!-- BOOKING -->
<div data-role="page" id="forms" data-theme="a" >
    <div data-role="header" class="toolbar">
        <h1><?=$this->translater->translate("New Booking")?></h1>
        <a  data-role="button" data-theme="a" data-direction="reverse"><?=$this->translater->translate("Back")?></a>
    </div>
    <form>
	    <ul class="edit rounded">
		    <li>New booking form goes here</li>
	    </ul>
    </form>
</div>
    
<!-- EDIT -->
<div data-role="page" id="edit" data-theme="a" >
    <div data-role="header" class="toolbar">
        <h1><?=$this->translater->translate("Edit Booking")?></h1>
        <a href="#" class="back" data-direction="reverse"><?=$this->translater->translate("Back")?></a>
    </div>
    <form>
	    <ul class="edit rounded">
		    <li>Edit booking form goes here</li>
	    </ul>
    </form>
</div>

<script>
//alert($('#select_country').css('left') + " : " + $('#select_location').css('left') + " : " + $('#select_resource_type').css('left') + " : " + $('#select_resource').css('left'));
$(document).ready(function(){ 
//$('#email1, #call1').attr('target', '_self'); 
$('a[href^=mailto]').click(function (event) {
    event.preventDefault();
    window.location.replace = $(this).attr('href');
    return false;
});

});
</script>
