<?php echo $this->doctype() ?>
<html>
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1"> 
<title>Meetings</title>
<style type="text/css" media="screen">@import "css/jqtouch.css";</style>
<style type="text/css" media="screen">@import "css/jquery.mobile.structure-1.0.1.css";</style>
<style type="text/css" media="screen">@import "css/theme.css";</style>
<script type="text/javascript" src="js/jquery-1.6.4.js"></script>
<script type="text/javascript" src="js/jquery-ui-1.8.2.custom.min.js"></script>
<script type="text/javascript" src="js/jquery.mobile-1.0.1.js"></script>
<script type="text/javascript" src="js/servcorpajax.js"></script>
<?php //echo  $this->MinifyScript()?>
<script type="text/javascript">
	var BASEURL = '<?=$this->baseurl?>';
</script>
<!--
<script type="text/javascript" charset="utf-8">


    // Some sample Javascript functions:
    $(function(){
        // Show a swipe event on swipe test
        $('#swipeme').swipe(function(evt, data) {                
            $(this).html('You swiped <strong>' + data.direction + '</strong>!');
        });
        $('a[target="_blank"]').click(function() {
            if (confirm('This link opens in a new window.')) {
                return true;
            } else {
                $(this).removeClass('active');
                return false;
            }
        });
        // Page animation callback events
        $('#pageevents').
            bind('pageAnimationStart', function(e, info){ 
                $(this).find('.info').append('Started animating ' + info.direction + '&hellip; ');
            }).
            bind('pageAnimationEnd', function(e, info){
                $(this).find('.info').append(' finished animating ' + info.direction + '.<br /><br />');
            });
        // Page animations end with AJAX callback event, example 1 (load remote HTML only first time)
        $('#callback').bind('pageAnimationEnd', function(e, info){
            if (!$(this).data('loaded')) {                      // Make sure the data hasn't already been loaded (we'll set 'loaded' to true a couple lines further down)
                $(this).append($('<div>Loading</div>').         // Append a placeholder in case the remote HTML takes its sweet time making it back
                    load('ajax.html .info', function() {        // Overwrite the "Loading" placeholder text with the remote HTML
                        $(this).parent().data('loaded', true);  // Set the 'loaded' var to true so we know not to re-load the HTML next time the #callback div animation ends
                    }));
            }
        });
        // Orientation callback event
        $('body').bind('turn', function(e, data){
            $('#orient').html('Orientation: ' + data.orientation);
        });
    });
	
</script>
<script type="text/javascript">
      
      (function ($) {
          //basic css properties that affect an elements dimension
          var cssProps = ['font-size','font-style', 'font-weight', 'font-family','line-height', 'text-transform', 'letter-spacing'];

          $.fn.ellipsis = function(oArgs) {
              if(this == null || this.length == 0) return;

              //for self reference
              var that = this;
              //offset width that needs to be adjusted
              var offSet = (oArgs && oArgs.offSet) ? oArgs.offSet : 20;

            var instance = $('#textMeasurer-JQ');
            //create a proxy instance of element to be ellipsised
              if(instance.length == 0){
                  instance = $(document.createElement('div'));
                  //take away from visiblity. we need it only to measure element dimension!
                  instance.attr('id', 'textMeasurer-JQ').css({'position':'absolute', 'left':'-1000px', 'top':'-1000px', 'white-space':'nowrap', 'visibility':'hidden'});
                  $('body').append(instance);
              }

              //update with the original text that needs to be ellipsised
              //and copy original element's css attribs
              instance.html(this.html());
              $.each(cssProps, function(idx, cssProp){
                  instance.css(cssProp, that.css(cssProp));
              });

            //get the resulting width of the container with full text in it.
              var iW = instance.width();

              //chop off the text from its end till the text fits into the visible area of
              //the container.
              var oW = this.width();
              var html = null;

              //alert(oW);
              while(iW > (oW - offSet)){
                  html = instance.html();
                  instance.html(html.substring(0, html.length-1));
                  iW = instance.width();
              }

              //update original container with trukated text
              //only if a truncation took place.
              if(html != null){
                  if(oArgs && oArgs.showTitle) this.attr('title', this.html());
                  this.html(html + '...');
              }

              //cleanup instance
              instance.html('');
          };

      })(jQuery);
</script>-->

</head>
<body>

<?php echo $this->layout()->content ?>
</body>
</html>
