<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0;user-scalable=no">
<title><?=$this->translater->translate("Meetings");?></title>

<style type="text/css" media="screen">@import "css/servcorp-1.1.1.css";</style>
<!-- /*<style type="text/css" media="screen">@import "css/jquery.mobile.structure-1.1.1.css";</style>*/ -->
<style type="text/css" media="screen">@import "js/jquery.mobile-1.4.5/jquery.mobile.structure-1.4.5.css";</style>
<style type="text/css" media="screen">@import "css/theme.css";</style>

<script type="text/javascript" src="js/jquery-1.6.4.min.js"></script>
<!-- <script type="text/javascript" src="js/jquery-1.11.3.min.js"></script> -->
<!-- <script type="text/javascript" src="js/jquery-ui-1.8.2.custom.min.js"></script> -->
<script type="text/javascript" src="js/jquery-ui-1.11.4/jquery-ui.min.js"></script>
<!-- <script type="text/javascript" src="js/jquery.mobile-1.4.5/jquery.mobile-1.4.5.min.js"></script> -->
<script type="text/javascript" src="js/jquery.mobile-1.1.1.min.js"></script>
<script type="text/javascript" src="js/servcorpajax.js.php"></script>

<?php //echo  $this->MinifyScript()?>
<script type="text/javascript">
	var BASEURL = '<?=$this->baseurl?>';
</script>
</head>
<body >

<?php echo $this->layout()->content ?>
</body>
</html>
