


<form method="post" action="" name="booking_form">
<label>country:</label><input type="text" name="country"><br><br>
<label>location:</label><input type="text" name="location"><br><br>
<label>resource_type:</label><input type="text" name="resource_type"><br><br>
<label>resource:</label><input type="text" name="resource"><br><br>
<label>date:</label><input type="text" name="date"><br><br>
<label>time:</label><input type="text" name="time"><br><br>

 <input type="submit" value="submit">
 </form>


