body {background:rgb(0,0,0);  font-family: Helvetica;}


.ui-header, .ui-footer {
    border-width: 1px 0;
    border-style: solid;
    position: relative;
    border-color: #000;
}
/* Login Styles */
.login_rememberme{font-size:12px;text-align:center;margin:0 auto}
.login_rememberme span{color:#fff;padding:0 15px 0 0}
.login_rememberme a {display:block;color:#194d95}
.login_rememberme input {position:relative; top: -15px; left: 53px; }
.alert{ color:#333; background:#ccc; -webkit-border-radius:10px;text-align:center; padding:10px; text-shadow:0px 0px 1px #fff; margin:0px 10px}
.time-selction .time_pick label{color:#fff; padding-left:10px;width:95%; text-align:center; display:inline-block;}
.time-selction ul li a{ border:none; text-align:center; font-size:14px;}
.time-selction ul li .strikeout{ border:none; text-align:center; font-size:14px;color:red;text-decoration:line-through;}
.show-avilable{padding:15px 0px 10px; border-top:1px #fff solid;}
.show-avilable ul{margin:0px; margin-top:10px;}
.show-avilable label{ width:auto;text-align:center; display:block; color:#fff;}
.time-selction .time_pick select{ border:0px #ccc solid; background:#fff; color:#000; font-size:14px; padding:5px 4px; font-weight:bold;}
.ui-select .ui-btn select {
    opacity: 0.97;
}
.edit_booking_wrp .edit_booking_phone span,.edit_booking_wrp .edit_booking_fax span{text-decoration:underline;}
.edit_booking_wrp .edit_booking_phone{ vertical-align:center;}
.fntsml_sty {font-size:10pt;}
.login_error_msg{color:red;padding:10px 15px;font-weight:bold;display:none;text-align: center;}
/*#username { margin-bottom: 5px }*/


.cont_seperator {padding:10px 0}
.cont_padding_all {padding:10px}
#additional_reqirements .cont_padding_all,#invite_colleagues .cont_padding_all {padding:0px}
.mar_tb {margin:10px 0}
.login_content p{padding:10px 15px }
.login_content a{color:#fff;text-decoration:none;
    -moz-border-radius: .1em;
    -webkit-border-radius: .1em;
    border-radius: .1em;
} 
.login_content a:hover{color:#e3e3e3;text-decoration:underline}



/* @group Lists */
h1 + ul, h2 + ul, h3 + ul, h4 + ul, h5 + ul, h6 + ul {margin-top:0}
ul {color:black;background:#e6e6e6;border:1px solid #e6e6e6;font:bold 17px Helvetica;padding:0;margin:10px 10px 17px 10px; -webkit-border-radius:8px;-webkit-box-shadow:0px 2px 3px #071F3D}
ul li {border-top:1px solid #B4B4B4;list-style-type:none;padding:8.5px 10px}

/* when you have a first LI item on any list */
li:first-child, li:first-child a {border-top:0;-webkit-border-top-left-radius:8px;-webkit-border-top-right-radius:8px}
li:last-child, li:last-child a {-webkit-border-bottom-left-radius:8px;-webkit-border-bottom-right-radius:8px}

/* universal arrows */
ul li.arrow {background-image:url(img/chevron.png);background-position:right center;background-repeat:no-repeat;/*padding-right:30px*/}
#plastic ul li.arrow, #metal ul li.arrow {background-image:url(../images/chevron_dg.png);background-position:right center;background-repeat:no-repeat;padding-right:25px}

/* universal links on list */
ul li a, li.img a + a {color:#111;text-decoration:none;text-overflow:ellipsis;white-space:nowrap;overflow:hidden;display:block;padding:14px 10px 10px 10px;line-height:20px;margin:-10px;-webkit-tap-highlight-color:rgba(0,0,0,0);text-shadow:rgba(255, 255, 255, 1.0) 0 1px 0;border-top:1px solid #fff}

/*ul#countrylist li {border-bottom:1px solid #FFFFFF;border-top:1px solid #b4b4b4;padding:14px 10px 10px; text-shadow:0 1px 0 #FFFFFF;}
ul#countrylist li:first-child {border-bottom:1px solid #FFFFFF; border-top:none !important;}
ul#countrylist li:last-child {border-bottom:none !important; border-top:1px solid #b4b4b4;}*/
/*ul#countrylist h5 {color:#111111;font-size:16px;}*/
 ul#countrylist h5 {margin: 0 0 5px;}

ul li a.button {background-color:#194fdb;color:#fff}
ul li.img a + a {margin:-10px 10px -20px -5px;font-size:17px;font-weight:bold}
ul li.img a + a + a {font-size:14px;font-weight:normal;margin-left:-10px;margin-bottom:-10px;margin-top:0}
ul li.img a + small + a {margin-left:-5px}
ul li.img a + small + a + a {margin-left:-10px;margin-top:-20px;margin-bottom:-10px;font-size:14px;font-weight:normal}
ul li.img a + small + a + a + a {margin-left:0px !important;margin-bottom:0}
ul li a + a {color:#000;font:14px Helvetica;text-overflow:ellipsis;white-space:nowrap;overflow:hidden;display:block;margin:0;padding:0}
ul li a + a + a, ul li.img a + a + a + a, ul li.img a + small + a + a + a {color:#666;font:13px Helvetica;margin:0;text-overflow:ellipsis;white-space:nowrap;overflow:hidden;display:block;padding:0}

/* @group Forms */
.ui-checkbox input, .ui-radio input {
    left: 63px;
    position: relative;
    top: -20px;
}

ul.form li {padding:7px 10px}
ul.form li.error {border:2px solid red}
ul.form li.error + li.error {border-top:0}
ul.form li:hover {background:#fff}
ul li input[type="text"], ul li input[type="password"], ul li textarea, ul li select {color:#333;background:#E6E6E6 url(../.png);border:0;font:normal 17px Helvetica;padding:0;display:inline-block;margin-left:0px;width:100%;-webkit-appearance:textarea}
ul li textarea {height:120px;padding:0;text-indent:-2px}
ul li select {text-indent:0px;background:transparent url(../images/chevron.png) no-repeat 103% 3px;-webkit-appearance:textfield;margin-left:-6px;width:104%}
ul li input[type="checkbox"], ul li input[type="radio"] {margin:0;color:rgb(50,79,133);padding:10px 10px}
ul li input[type="checkbox"]:after, ul li input[type="radio"]:after {content:attr(title);font:17px Helvetica;display:block;width:246px;margin:-12px 0 0 17px}
/* @end */

/* @group Edge to edge */
.edgetoedge h4 {color:#fff;background:rgb(154,159,170) url(img/listGroup.png) top left repeat-x;border-top:1px solid rgb(165,177,186);text-shadow:#666 0 1px 0;margin:0;padding:2px 10px}
.edgetoedge,.metal {margin:0;padding:0;background-color:rgb(255,255,255)}
.edgetoedge ul,.metal ul,.plastic ul {-webkit-border-radius:0;margin:0;border-left:0;border-right:0;border-top:0}
.metal ul {border-top:0;border-bottom:0;background:rgb(180,180,180)}
.edgetoedge ul li:first-child,.edgetoedge ul li:first-child a,.edgetoedge ul li:last-child,.edgetoedge ul li:last-child a,.metal ul li:first-child a,.metal ul li:last-child a {-webkit-border-radius:0}
.edgetoedge ul li small {font-size:16px;line-height:28px}
.edgetoedge li,.metal li {-webkit-border-radius:0}
.edgetoedge li em {font-weight:normal;font-style:normal}
.edgetoedge h4 + ul {border-top:1px solid rgb(152,158,164);border-bottom:1px solid rgb(113,125,133)}
/* @end */

/* @group Mini Label */
ul li small {color:#369;font:17px Helvetica;text-align:right;text-overflow:ellipsis;white-space:nowrap;overflow:hidden;display:block;width:23%;float:right;padding:3px 0px}
ul li.arrow small {padding:0 15px}
ul li small.counter {font-size:17px !important;line-height:13px !important;font-weight:bold;background:rgb(154,159,170);color:#fff;-webkit-border-radius:11px;padding:4px 10px 5px 10px;display:inline !important;width:auto;margin-top:-22px}
ul li.arrow small.counter {margin-right:15px}
/* @end */

/* @group Plastic */
#plastic ul li.arrow, #metal ul li.arrow {background-image:url(img/listArrow.png);background-position:right center;background-repeat:no-repeat}
.edgetoedge ul,.metal ul,.plastic ul {-webkit-border-radius:0;margin:0;border-left:0;border-right:0;border-top:0}
.metal ul li {border-top:1px solid rgb(238,238,238);border-bottom:1px solid rgb(156,158,165);background:url(../images/bgMetal.png) top left repeat-x;font-size:26px;text-shadow:#fff 0 1px 0}
.metal ul li a {line-height:26px;margin:0;padding:13px 0}
.metal ul li a:hover {color:rgb(0,0,0)}
.metal ul li:hover small {color:inherit}
.metal ul li a em {display:block;font-size:14px;font-style:normal;color:#444;width:50%;line-height:14px}
.metal ul li small {float:right;position:relative;margin-top:10px;font-weight:bold}
.metal ul li.arrow a small {padding-right:0;line-height:17px}
.metal ul li.arrow {background:url(../images/bgMetal.png) top left repeat-x, url(../images/chevron_dg.png) right center no-repeat}
.plastic {margin:0;padding:0;background:rgb(173,173,173)}
.plastic ul {-webkit-border-radius:0;margin:0;border-left:0;border-right:0;border-top:0;background-color:rgb(173,173,173)}
.plastic ul li {-webkit-border-radius:0;border-top:1px solid rgb(191,191,191);border-bottom:1px solid rgb(157,157,157)}
.plastic ul li:nth-child(odd) {background-color:rgb(152,152,152);border-top:1px solid rgb(181,181,181);border-bottom:1px solid rgb(138,138,138)}
.plastic ul + p {font-size:11px;color:#2f3237;text-shadow:none;padding:10px 10px}
.plastic ul + p strong {font-size:14px;line-height:18px;text-shadow:#fff 0 1px 0}
.plastic ul li a {text-shadow:rgb(211,211,211) 0 1px 0}
.plastic ul li:nth-child(odd) a {text-shadow:rgb(191,191,191) 0 1px 0}
.plastic ul li small {color:#3C3C3C;text-shadow:rgb(211,211,211) 0 1px 0;font-size:13px;font-weight:bold;text-transform:uppercase;line-height:24px}
#plastic ul.minibanner, #plastic ul.bigbanner {margin:10px;border:0;height:81px;clear:both}
#plastic ul.bigbanner {height:140px !important}
#plastic ul.minibanner li {border:1px solid rgb(138,138,138);background-color:rgb(152,152,152);width:145px;height:81px;float:left;-webkit-border-radius:5px;padding:0}
#plastic ul.bigbanner li {border:1px solid rgb(138,138,138);background-color:rgb(152,152,152);width:296px;height:140px;float:left;-webkit-border-radius:5px;padding:0;margin-bottom:4px}
#plastic ul.minibanner li:first-child {margin-right:6px}
#plastic ul.minibanner li a {color:transparent;text-shadow:none;display:block;width:145px;height:81px}
#plastic ul.bigbanner li a {color:transparent;text-shadow:none;display:block;width:296px;height:145px}
/* @end */

/* @group Individual */

ul.individual {border:0;background:none;clear:both;overflow:hidden}
ul.individual li {color:rgb(183,190,205);background:white;border:1px solid rgb(180,180,180);font-size:14px;text-align:center;-webkit-border-radius:8px;-webkit-box-sizing:border-box;width:48%;float:left;display:block;padding:11px 10px 14px 10px}
ul.individual li + li {float:right}
ul.individual li a {color:rgb(50,79,133);line-height:16px;margin:-11px -10px -14px -10px;padding:11px 10px 14px 10px;-webkit-border-radius:8px}
ul.individual li a:hover {color:#fff;background:#36c}
/* @end */

/* @group Toggle */
.toggle {width:94px;position:relative;height:27px;display:block;overflow:hidden;float:right}
.toggle input[type="checkbox"]:checked {left:0px}
.toggle input[type="checkbox"] {-webkit-tap-highlight-color:rgba(0,0,0,0);margin:0;-webkit-border-radius:5px;background:#fff url(img/on_off.png) 0 0 no-repeat;height:27px;overflow:hidden;width:149px;border:0;-webkit-appearance:textarea;background-color:transparent;-webkit-transition:left .15s;position:absolute;top:0;left:-55px}/* @end */
/* @end */

.info {background:#dce1eb;font-size:12px;line-height:16px;text-align:center;text-shadow:rgba(255,255,255,.8) 0 1px 0;color:rgb(76, 86, 108);padding:15px;border-top:1px solid rgba(76, 86, 108,.3);font-weight:bold}
.round {border-top:0;-webkit-border-radius:8px;background:#E6E6E6;margin:10px 5px}

/* Specifics */
.clr_flt{clear:both}
.clear,.itemDetails p {display:inline-block}
.clear:after,.itemDetails p:after {content:".";display:block;height:0;clear:both;visibility:hidden}
.clear,.itemDetails p {display:block}
hr.thin { height: 0px; border: 0px}

h2 {color:#6e798b;padding:5px 0;text-align:center;color:#fff;text-shadow:rgba(0, 0, 0, 0.5) 0 1px 0}
.detailList {margin:0 1px 10px 1px}
.detailList li {padding:0;text-overflow:ellipsis}
.detailList li a {color:#6e798b;line-height:1.1;font-size:10pt;padding:3px 12px 3px 10px;display:block;margin:0}
.detailList li a img {float:left;margin:0 5px 0 0}
.detailList li a h3 {font-size:9pt;color:#6e798b;width:80%;overflow:hidden;text-overflow:ellipsis;line-height:1.3; margin-bottom:0; margin-top:0;}
.detailList li a h3 span {font-size:14pt;color:#111}
.detailList li a h3 em {font-size:9pt;text-transform:uppercase;padding:0 0 0 0px;font-weight:normal;font-style:normal}
.detailList li a p {}
.itemDetails {color:#6e798b;line-height:1.1;/*padding:3px 10px;*/display:block;margin:0}
.itemDetails h5 {margin:0 0 5px 0;width:90%;overflow:hidden;text-overflow:ellipsis;color:#111111;}
.itemDetails h5 span {float:right;padding:0 3px 0 0;font-size:12px;color:#999999}
.itemDetails p strong {float:left;width:70px}
.itemDetailsCL h5{font-size:16px;}

.btOrange {-webkit-border-radius:8px;font-size:18pt;text-align:center;font-weight:bold;overflow:hidden;padding:6px 0;margin:3px 8px 17px;position:relative;display:block;height:auto;width:auto;color:#fff;text-shadow:rgba(0, 0, 0, 0.5) 0 1px 0;background:-webkit-gradient(linear,0% 0%,0% 100%,from(#ffb040),to(#ff6904));-webkit-box-shadow:0px 2px 3px #071F3D;text-decoration:none}
.btOrange:hover {color:#fff;text-shadow:rgba(0, 0, 0, 0.5) 0 1px 0;background:-webkit-gradient(linear, 0% 0%, 0% 50%, from(#FFB140), to(#FF6A06));text-decoration:none}

.btRed {-webkit-border-radius:8px;font-size:18pt;text-align:center;font-weight:bold;overflow:hidden;padding:6px 0;margin:3px 8px 17px;position:relative;display:block;height:auto;width:auto;color:#fff;text-shadow:rgba(0, 0, 0, 0.5) 0 1px 0;background:-webkit-gradient(linear,0% 0%,0% 100%,from(#df7c80),to(#c72927));-webkit-box-shadow:0px 2px 3px #071F3D;text-decoration:none}
.btRed:hover {color:#fff;text-shadow:rgba(0, 0, 0, 0.5) 0 1px 0;background:-webkit-gradient(linear, 0% 0%, 0% 50%, from(#b35c5f), to(#ae1f1d));text-decoration:none}

.btGreen {-webkit-border-radius:8px;font-size:18pt;text-align:center;font-weight:bold;overflow:hidden;padding:6px 0;margin:0;position:relative;display:block;height:auto;width:auto;color:#fff;text-shadow:rgba(0, 0, 0, 0.5) 0 1px 0;background:-webkit-gradient(linear,0% 0%,0% 100%,from(#ffb040),to(#ff6904));-webkit-box-shadow:0px 2px 3px #071F3D;text-decoration:none}
.btGreen:hover {color:#fff;text-shadow:rgba(0, 0, 0, 0.5) 0 1px 0;background:-webkit-gradient(linear, 0% 0%, 0% 50%, from(#FFB140), to(#FF6A06));text-decoration:none}
.textLink {color:#194d95}

.datepicker{color:#111;font:bold 17px Helvetica;padding:0;margin:0;}
.ui-datepicker-next {text-decoration: none;}
.ui-datepicker-prev {text-decoration: none;}

/*.ui-corner-all {-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px}*/
.ui-datepicker {}
.ui-datepicker .ui-datepicker-header {position:relative;padding:.2em 0;color:#fff}
.ui-datepicker .ui-datepicker-prev,.ui-datepicker .ui-datepicker-next {background:#fff;color:#013679;font-size:12pt;/*height:30px;*/ padding:8px;/*line-height:24px;*/position:absolute;top:2px;width:3em; text-align:center;}
/*.ui-datepicker .ui-datepicker-prev-hover,.ui-datepicker .ui-datepicker-next-hover {top:1px}*/
.ui-datepicker .ui-datepicker-prev {left:2px}
.ui-datepicker .ui-datepicker-next {right:2px}
.ui-datepicker .ui-datepicker-prev-ui-datepicker-week-end {color:#333}
.ui-datepicker .ui-datepicker-next-hover {color:#333}
.ui-datepicker .ui-datepicker-prev span,.ui-datepicker .ui-datepicker-next span {/*display:block;position:absolute;left:30%;margin-left:-8px;top:40%;margin-top:-8px*/}
.ui-datepicker .ui-datepicker-title {margin:0 2.3em;line-height:1.8em;text-align:center}
.ui-datepicker .ui-datepicker-title select {font-size:1em;margin:1px 0}
.ui-datepicker select.ui-datepicker-month-year {width:100%}
.ui-datepicker select.ui-datepicker-month,.ui-datepicker select.ui-datepicker-year {width:49%}
.ui-datepicker table {width:100%;font-size:.9em;border-collapse:collapse;margin:0 0 .4em;color:#fff}
.ui-datepicker th {padding:.7em .3em;text-align:center;font-weight:bold;border:0}
.ui-datepicker td {border:0;padding:2px;}
.ui-datepicker td span,.ui-datepicker td a {display:block;padding:.65em;text-align:center;text-decoration:none;font-size:12pt}
.ui-datepicker .ui-datepicker-buttonpane {background-image:none;margin:.7em 0 0 0;padding:0 .2em;border-left:0;border-right:0;border-bottom:0}
.ui-datepicker .ui-datepicker-buttonpane button {float:right;margin:.5em .2em .4em;cursor:pointer;/*padding:.2em .6em .3em .6em;*/ width:auto;overflow:visible}
.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current {float:left}
.ui-state-default,.ui-widget-content .ui-state-default,.ui-widget-header .ui-state-default {background:#fff;font-weight:bold;color:#013679;-webkit-border-radius:5px}
.ui-state-default a,.ui-state-default a:link,.ui-state-default a:visited {color:#1c94c4;text-decoration:none}
.ui-state-hover,.ui-widget-content .ui-state-hover,.ui-widget-header .ui-state-hover,.ui-state-focus,.ui-widget-content .ui-state-focus,.ui-widget-header .ui-state-focus {color:#333;background:-webkit-gradient(linear,0% 0%,0% 100%,from(#ffb040),to(#ff6904))}
.ui-state-hover a,.ui-state-hover a:hover {color:#c77405;text-decoration:none}
.ui-state-active,.ui-widget-content .ui-state-active,.ui-widget-header .ui-state-active {color:#fff;background-color: #e0a339 ;text-shadow:rgba(0, 0, 0, 0.5) 0 1px 0;background:-webkit-gradient(linear,0% 0%,0% 100%,from(#ffb040),to(#ff6904))}
.ui-state-active a,.ui-state-active a:link,.ui-state-active a:visited {color:#eb8f00;text-decoration:none}
.ui-widget :active {outline:none}
.ui-datepicker .ui-state-disabled {background:#ccc; }
.ui-datepicker table .ui-state-disabled span{background:#bbb;}
.ui-datepicker table td.ui-state-disabled {background:none !important; }
.ui-datepicker .ui-state-disabled:hover{ color:#013679; }
#select_time  li{border:0px;padding:5px 5px;}
#select_time label{margin-right:10px;}
#select_time h5{ font-size:16px; float:left; width:130px;}
#select_time .sborder {border-bottom:1px solid #B4B4B4; }
.ui-icon-circle-triangle-w,.ui-icon-circle-triangle-e {min-height:17px;}


/* Edit Booking styles */
.edit_booking_wrp {padding:0}
	.edit_booking_wrp a{color:#333;text-decoration:none}
	.edit_booking_wrp a.active {background:none !important;color:#000 !important}
	
.edit_booking_title{font-size:14px;font-weight:bold;padding:0 0 8px 0}
.edit_booking_phone{font-size:12px}
.edit_booking_fax{padding:0px 0 8px 0;font-size:12px;font-weight:bold}
.edit_booking_date{padding:0 0px 0 0; font-size:10pt;}
.edit_booking_time{color:#333}

.imeeting {
	padding: 4px 0 12px 0;
}

/* Override JQ Mobile CSS */

.toolbar > .ui-btn-text {padding-top:2px;}
.toolbar > .ui-btn {height: 25%;}
.ui-icon, .ui-icon-searchfield:after {
    background: none;
    /*padding-left: 8px;*/
}
.ui-body-a .ui-link {
    color: #0000EE;
}
h2 {margin-top: 0px; }
/* loading icon */
/*.ui-icon-loading {
	background-image: url(/img/ajax-loader.png);
	opacity: 0.95;
	width: 40px;
	height: 40px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	border-radius: 20px;
	background-size: 35px 35px;
}*/
/*.ui-loader h1 {
	display: none;
}*/
.ui-body-a .ui-link {
    color: #6E798B;
}
.ui-bar .ui-btn-inner {
    padding: 0.3em 8px 0.5em;
}

#dashboardBookingBtn {
    margin: 0;
}

#done_booking {
    margin: 0.5em 0;
}
.ui-page-pre-in {
	opacity: 0;
}