<!-- <html>
	<body>
		<form action="" method="POST">
		<label>username : </label><input type="text" name="username" /><br />
		<label>password : </label><input type="password" name="password" /><br />
		<input type="Submit" value="login"/>
		</form>
	</body>
</html>-->
<script type="text/javascript">
function login(){
	alert("lemme login");
	document.getElementById('login_form').submit(); return false;
}
</script>
<div id="home" class="current">
	
    <!-- LOGIN -->
	<div id="login">
    	<div class="toolbar">
        <h1>Servcorp Login</h1>
        </div>
        <form id="login_form" action="" method="POST">
        <div class="login_content">
            
	            <ul class="edit rounded">
	                <li><input type="text" id="some_name" placeholder="User ID" name="username"></li>
	                <li><input type="password" id="some_name" placeholder="Password" name="password"></li>
	            </ul>
	            
	           	<p><a href="#">Forgot your username/password</a></p>
            
            
        </div>
        
        <a href="#dashboard" onclick="login()" class="slideup btOrange">Login</a></form>
    </div>
    

</div>